build/
cmake-build-*/
out/

*.o
*.obj
*.lo
*.slo

*.gch
*.pch

*.so
*.dylib
*.dll

*.a
*.lib
*.la

*.exe
*.out
*.app
speed_measure
qsort_demo
qsort_tests

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

.vscode/
*.code-workspace

.idea/
cmake-build-*/

.vs/
*.suo
*.user
*.sln.docstates

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

Testing/
CTestTestfile.cmake

_deps/

*.gcda
*.gcno
*.gcov

*.prof
gmon.out

core
core.*
